* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*NAV*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/*NAV LEFT*/
.left-nav {
  display: flex;
}

.left-nav ul {
  display: flex;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.left-nav li {
  margin: 8px;
}

/*NAV RIGHT*/

.right-nav ul {
  display: flex;
  list-style-type: none;
  margin: 14px;
  padding: 0;
}

/*FONT*/
.fs-small {
  font-size: small;
}

/*SECTION */

section > :first-child {
  text-align: center;
  margin-top: 7.2%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 5vh;
  width: 100%;
  border-radius: 30px;
  padding: 0 16px;
  margin-top: 20px;
  transition: box-shadow 0.3s;
}

.search:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search-left span {
  color: #9aa0a6;
  height: 2vh;
  width: 4%;
  margin-right: 10px;
  display: inline-block;
  fill: currentColor;
}

.search input {
  color: #000;
  flex: 1;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  border: none;
  width: 480px;
}
.search input:focus {
  outline: none;
}
.search-left {
  display: flex;
  align-items: center;
}

.search-right {
  display: flex;
  align-items: center;
}
.m-8 {
  margin: 8px;
}

/*Button*/
.button-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #f8f9fa;
  color: #5f6368;
  padding: 10px 20px;
  margin: 5px 5px 0 0;
  border: 1px solid #f2f2f2;
  font-family: Arial, sans-serif;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  height: 36px;
}

.btn:hover {
  border: 1px solid #3c4043;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  font-size: 14px;
  color: #5f6368;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* LEFT FOOTER */

.left-footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-footer li {
  margin-right: 20px;
}

.left-footer a {
  text-decoration: none;
  color: #5f6368;
}

.left-footer a:hover {
  text-decoration: underline;
}

/* RIGHT FOOTER */
.right-footer {
  display: flex;
}

.right-footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-footer li {
  margin-left: 20px;
}

.right-footer a {
  text-decoration: none;
  color: #5f6368;
}

.right-footer a:hover {
  text-decoration: underline;
}
